*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* navegador */

.container-nav{
 
    background: white;
    width: 100%;
    height: 9%;
    position: fixed;

} 

hr{

    height: 63.5px;
    background-color: grey;
    width: 85%;
    margin: 0px auto;
}
.nav{
    background-color: #f0ecde;
    border-radius: 50px;
     margin:10px  0px 0px 4%; 
     width: 90%;
     position: fixed;
     

}

.nav ul li a{
    text-decoration: none;
    color: black;
    
}

.nav ul li:hover {
 background-color: #e7ddc1;
}

.nav ul li{
    display:inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
}

/* navegador */


/*-----------CAROUSEL ----------*/

.carousel{
    width: 95%;
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

.carousel-element{
    padding: 2px;
}
.carousel-element img{
    width: 250px;
    border-radius: 33px;
    height: 220px;
    
}

.carousel-container{
    position: relative;
    
    
}

.carousel-previus,.carousel-next{
position: absolute;
display: block;
width: 30px;
height: 30px;
border: none;
top: calc(50% - 195px);
cursor: pointer;
line-height: 30px;
text-align: center;
background: none;
color: rgb(14, 14, 14);

}

.carousel-previus{
    left: 2px;
 
}

.carousel-next{
    right: 3px;

}






/*-----------CAROUSEL ----------*/





/* container main */

.container{
    width: 45%;
    height: 700px;
    background: rgb(230, 228, 228);
    margin: 0px auto;
   border-radius: 10px;
  
}


.container-main{
   
    background: rgb(6, 6, 143);
    width: 100%;
    height: 500px;
    margin: 0px auto;
   
}

.more{
    display: flex;
    align-items:center;
    font-size: 12px;
    justify-content: right;
    padding-right:10px;
}

.more img{
    width: 25px;
    height: 25px;
}

.perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px 5px;
}

.perfil{
    display: flex;
    align-items: center;
 
}

.comment{
    padding: 5px;
}

.reactionbuttom{
    text-align: center;
    justify-content: space-between;
}

.reactionbuttom ul li a{
    text-decoration: none;
}

.reactionbuttom ul li{
    display:inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
}


/* container left */

.container-left{
   
    width: 25%;
    height: 60%;
    background: rgb(183, 216, 34);
    display: flex;
    position: fixed;
    left: 0px;
}

/* container left */

/* container left */




/* container left */

/* container rigth */

.container-rigth{
    width: 25%;
    height: 60%;
    background: rgb(14, 148, 92);
    display: flex;
    right: 0px;
    position: fixed;
    top: 43%;


}

/* container rigth */


.container-main img{
  width: 100%;
 height: 100%;

 

}

/* adaptative*/

@media(max-width: 800px){
    
   
}

@media(max-width: 500px){
   
}

/* adaptative*/

/* container main */